.main__left {
   margin-top: 10px;
   width: 20%;
}


.aside__category {
   
   height: 355px;
}

.asideCategory__title {
   text-align: center;
   color: white;
   background-color: #3b84b0;
   display: flex;
   align-items: center;
}

.asideCategoryTitle__icon {
   
   width: 20%;
}

.asideCategoryTitle__heading {
   width: 80%;
}

.asideCategoryTitle__heading h3 {
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 30;
}

.asideCategory__list {
   
   background-color: #f2f1f1;
}

.asideCategory__list ul {
   list-style: none;
   
   margin-top: 0;
   padding: 0px;

}

.asideCategory__list ul li {
   border-bottom: 1px solid #e3e3e3;
   
}



.asideCategory__list ul li a {
   text-decoration: none;
   color: black;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: bold;
   display: block;
   padding: 10px 15px;
}

.asideCategory__list ul li a:hover{
   color: white;
  background-color: #464a51;
  
}


.aside__bestSeller {
   
}

.asideBestSeller__title {
   text-align: center;
   color: white;
   background-color: #3b84b0;
   display: flex;
   align-items: center;
}

.asideBestSellerTitle__icon {
   width: 20%;
}


.asideBestSellerTitle__heading {
   
   width: 80%;
}

.asideBestSellerTitle__heading h3 {
   
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 30;
}

.asideBestSeller__list {
   background-color: #f2f1f1;
   padding: 10px;
   
}

.aside__bestSeller .products {
   border-bottom: 1px solid #a7a7a7;
   margin-bottom: 15px;
}

.productImage {
   
}

.productImage img {
   
   width: 100%;
}

.aside__bestSeller .products h4 {
   
   margin-top: 10px;
   font-size: 14px;
   text-align: left;
   text-transform: uppercase;
   
}

.aside__bestSeller a {
   text-decoration: none;
   color: black;
}

