nav{
    background-color: #222326; 
}
.nav__menu{ 
    width: 75%;
}
.nav__menu ul{
    
    margin: 0;
    padding: 0; 
    display: flex;
    /* ???? */
}
.nav__menu ul li{
    list-style: none;
    
}
.nav__menu ul li a{
    color:white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 18px;
}
.nav__menu ul li a:hover{
    background-color:#696969;
    
}
.nav__menu ul li.active a{
    background-color:#696969;
}

.search {
    margin: 15px 0px;
    width: 25%;
    text-align: right;
    position: relative;
  }
  
  input[type="text"] {
    padding-right: 30px; 
  }
  
  button {
    position: absolute;
    top: 2px;
    right: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  
  